<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vaina god</title>
</head>
<body>
    <nav>
        <li>
            <a href="{% url 'home' %}">home</a>
        </li>

        <li>
            <a href="{% url 'tare' %}">tareas</a>
        </li>

        {% if user.is_authenticated %}
        <!-- esta propiedad nos permite saber si el usuario ha iniciado sesion en la pagina -->
        <li>
            <a href="{% url 'logoutt' %}">logout</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'signup' %}">registro</a>
        </li>
        <li>
            <a href="{% url 'signinn' %}">inicio de sesion</a>
        </li>
        {% endif %}

     
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>